*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'roboto', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

    /*header*/
header li a{
    color: #000;
}

header{
    /*background-color: gray;*/
    max-width: 1100px;
    height: 115px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
}

   /*menu*/
.logo img {
    width: 70%;
}

.menu{
    list-style: none;
}

.menu li{
    display: inline-block;
    margin-left: 15px;
}

.menu li a{
    font-size: 20px;
    transition: all 0.3 ease 0s;
}

.menu li a:hover{
    border-bottom: 3px solid #42a7db;
    color: #42a7db;
}

.corona_txt{
    position: relative;
}

.corona_txt:before {
    content: "";
    position: absolute;
    border-bottom: 3px solid #42a7db;
    width: 40px;
    top: 24px;
    left: 0;
    bottom: 0;
}


    /*banner*/

.banner{
    height: 1000px;

    background-image: url(/medica.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(140, 140, 140);
    border: 1px solid red;
}

.container-banner{
    width: 1100px;
    height: 100%;
    margin: 0 auto;
    
    border: 1px solid blue;
 }

.content-banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-banner h2{
    color: #ffff;
}


 .txt{
    display: flex;
    align-items: center;

    max-width: 1100px;
    height: 1000px;
    margin: 0 auto;

    border: 1px solid red;
 }



 /*footer*/
footer{
    background-color: #21272a; 
}

.footer_container{
    height: 400px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}

.container-content{
    display: flex;
    max-width: 1100px;
    /* border: 1px solid green; */
}


        /* colunas */
.coluna{
    width: 25%;
    max-height: 350px;
    color: #ffff;
    /* border: 1px solid blue; */
}


.coluna img{width: 65%;}


.coluna h4{
    font-weight: bold;
    font-size: 20px;
    color: #42a7db;
    margin-bottom: 30px;
}

.coluna a{
    color: white;
    display: block;
    margin-bottom: 15px;
}

.coluna a:hover{color:#42a7db;}

.coluna p{
    width: 70%;
    /* border: 1px solid rgb(42, 112, 179);   */
 }

.dot-link{
    display: flex;
    /* border: 1px solid rgb(234, 0, 255) */
}

.fa-link{
    color: #42a7db;
}

.dot-link a{
    margin-left: 20px;
}



    /* Coluna de contatos*/
.coluna{
    width: 25%;
    /* border: 1px solid red */
}

.coluna div{
    display: flex;
    color: white;
}

.coluna h4{
    color: #42a7db; 
    font-size: 20px; 
}

.coluna div:hover{
    color: #42a7db;
}
    /* Coluna de contatos */






    /* Direitos */
.direitos{
    width: 100%;
    height: 80px;

    text-align: center;

    background-color: #1e2326;
}

.direitos .container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
}

.direitos .container h4{
    font-size: 15px;
    color: white;
    font-weight: normal;

}